/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* line 23, ../sass/jump_pg.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 27, ../sass/jump_pg.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0rem;
  text-rendering: optimizeLegibility;
}

/* line 36, ../sass/jump_pg.scss */
a {
  color: red;
}

/* line 40, ../sass/jump_pg.scss */
a:hover, a:focus {
  color: #7a0000;
}

/* line 44, ../sass/jump_pg.scss */
body {
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif !important;
  background: #cacaca;
}

/* line 50, ../sass/jump_pg.scss */
.top-bar {
  background-color: white;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 57, ../sass/jump_pg.scss */
.top-bar .name h1 a {
  color: red;
}

/* line 64, ../sass/jump_pg.scss */
.top-bar .name h1 a {
  font-weight: bolder;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 69, ../sass/jump_pg.scss */
.top-bar .name h1 a:hover {
  color: #7a0000;
}

/* line 73, ../sass/jump_pg.scss */
.top-bar .name h1 a:active {
  color: white;
  background: red;
}

/* line 78, ../sass/jump_pg.scss */
.top-bar-section ul {
  text-align: center;
  background: white;
}

/* line 83, ../sass/jump_pg.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: white;
  color: red;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 90, ../sass/jump_pg.scss */
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  color: #7a0000;
  background: none;
}

/* line 95, ../sass/jump_pg.scss */
.top-bar-section ul li.active > a {
  color: white;
  background: red;
}

/* line 100, ../sass/jump_pg.scss */
.top-bar .toggle-topbar.menu-icon a {
  color: red;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 105, ../sass/jump_pg.scss */
.top-bar.expanded .title-area {
  background: white;
}

/* line 109, ../sass/jump_pg.scss */
.top-bar-section ul li:hover:not(.has-form) > a {
  color: #7a0000;
}

/* line 113, ../sass/jump_pg.scss */
.top-bar-section ul li > a {
  color: red;
  background: white;
  font-family: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;
}

/* line 119, ../sass/jump_pg.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  background: white;
}

/* line 123, ../sass/jump_pg.scss */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  color: #7a0000;
}

/* line 127, ../sass/jump_pg.scss */
.panel {
  background: white;
  border: none;
}

/* line 134, ../sass/jump_pg.scss */
.large-12 .panel > h1 {
  text-align: center;
  color: #333333;
  font-weight: bolder;
  margin-bottom: 15px;
}
/* line 141, ../sass/jump_pg.scss */
.large-12 .panel > h4 {
  text-align: center;
  color: #333333;
  font-weight: bolder;
  margin-bottom: 25px;
}
/* line 148, ../sass/jump_pg.scss */
.large-12 .panel > p {
  width: 85%;
  margin: 0 auto;
  font-size: 1.1rem;
}
/* line 154, ../sass/jump_pg.scss */
.large-12 .panel a {
  color: white;
}
/* line 158, ../sass/jump_pg.scss */
.large-12 .panel > h3 {
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -khtml-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 3px red solid;
  background-color: red;
  padding: 20px;
  color: white;
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

/* line 171, ../sass/jump_pg.scss */
.large-12 .panel a:hover {
  color: #7a0000;
}

/* line 177, ../sass/jump_pg.scss */
.large-3 .panel > p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
/* line 182, ../sass/jump_pg.scss */
.large-3 .panel > h4 {
  font-weight: bolder;
  text-align: center;
}

@media only screen and (max-width: 40em) {
  /* line 192, ../sass/jump_pg.scss */
  .large-12 .panel > p {
    width: 100%;
    margin: 0 auto;
    font-size: 0.91rem;
  }

  /* line 201, ../sass/jump_pg.scss */
  .large-3 .panel > p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
  /* line 207, ../sass/jump_pg.scss */
  .large-3 .panel > h4 {
    font-weight: bolder;
    text-align: center;
  }

  /* line 214, ../sass/jump_pg.scss */
  .linkage {
    margin: 0 auto;
    width: 100%;
  }
  /* line 218, ../sass/jump_pg.scss */
  .linkage > p {
    text-align: center;
  }

  /* line 223, ../sass/jump_pg.scss */
  .top-bar-section ul {
    text-align: center;
    background: white;
  }
  /* line 226, ../sass/jump_pg.scss */
  .top-bar-section ul > li {
    border-top: solid red 1px;
  }

  /* line 231, ../sass/jump_pg.scss */
  .top-bar.expanded .toggle-topbar a::after {
    box-shadow: 0 10px 0 1px red, 0 16px 0 1px red, 0 22px 0 1px red;
  }

  /* line 235, ../sass/jump_pg.scss */
  .top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 10px 0 1px red, 0 16px 0 1px red, 0 22px 0 1px red;
  }

  /* line 239, ../sass/jump_pg.scss */
  .top-bar .toggle-topbar.menu-icon a:hover {
    color: #7a0000;
  }

  /* line 243, ../sass/jump_pg.scss */
  .top-bar .toggle-topbar.menu-icon a:hover:after {
    box-shadow: 0 10px 0 1px #7a0000, 0 16px 0 1px #7a0000, 0 22px 0 1px #7a0000;
  }

  /* line 247, ../sass/jump_pg.scss */
  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    color: #7a0000;
    background: none;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 257, ../sass/jump_pg.scss */
  .large-12 .panel > p {
    width: 100%;
    margin: 0 auto;
  }

  /* line 265, ../sass/jump_pg.scss */
  .large-3 .panel > p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
  /* line 271, ../sass/jump_pg.scss */
  .large-3 .panel > h4 {
    font-weight: bolder;
    text-align: center;
  }

  /* line 278, ../sass/jump_pg.scss */
  .linkage {
    margin: 0 auto;
    width: 100%;
  }
  /* line 282, ../sass/jump_pg.scss */
  .linkage > p {
    text-align: center;
  }

  /* line 287, ../sass/jump_pg.scss */
  .top-bar-section ul {
    text-align: center;
  }
}
